pycrypto~=2.6.0; platform_system!='Windows' and platform_python_implementation=="CPython"
pycryptodome; platform_system=='Windows' or  platform_python_implementation!="CPython"
nose
codecov
sphinx
sphinx_rtd_theme
